<div class="row">
  <%= form_for(resource, class: "col s12", as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

      <div class="row">
        <div class="input-field col s12">
          <%= f.label :name %>
          <%= f.text_field :name, class: "validate", autofocus: true, autocomplete: "name" %>
        </div>
      </div>

      <div class="row"> 
        <div class="input-field col s12">
          <%= f.label :bio %>
          <%= f.text_area :bio, class: "materialize-textarea validate", autofocus: true, autocomplete: "bio" %>
        </div>
      </div>

      <div class="row">      
        <div class="input-field col s12">
          <%= f.label :email %>
          <%= f.email_field :email, class: "validate", autofocus: true, autocomplete: "email" %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <div class="switch">
            <%= f.label :display_email %>
            <label>
              No
              <%= f.check_box :display_email, autofocus: true, autocomplete: "display_email" %>
              <span class="lever"></span>
              Yes
            </label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= f.label :password %>
          <%= f.password_field :password, class: "validate", autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <span class="helper-text">(<%= @minimum_password_length %> characters minimum)</span>
          <% end %>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, class: "validate", autocomplete: "new-password" %>
        </div>
      </div>

      <button class="actions btn waves-effect waves-light" type="submit" name="action">Sign Up
        <i class="material-icons right">send</i>
      </button>
    <% end %>
</div>

<%#= render "devise/shared/links" %>
