<p>
  <strong>Article:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Title:</strong>
  <%= @comment.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @comment.rate %>
</p>

<p>
  <strong>Posted By:</strong>
  <%= @user %>
</p>

<% if current_user != nil %>
  <% if current_user.id == @comment.user_id %>
    <%= link_to 'Edit', edit_article_comment_path(@article, @comment)%>
    <%= link_to 'Delete', article_comment_path, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>
<%= link_to 'Back to article', article_path(@article) %>
