<%= form_with(model: article, class: "col s12", local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
      <div class="input-field col s12">
        <%= form.label :title %>
        <%= form.text_field :title, class: "validate" %>
    </div>
  </div>

  <div class="row">
      <div class="input-field col s12">
        <%= form.label :description %>
        <%= form.text_area :description, class: "materialize-textarea validate" %>
    </div>
  </div>

  <div class="row">
      <div class="input-field col s12">
        <%= form.label :content %>
        <%= form.text_area :content, class: "materialize-textarea validate" %>
    </div>
  </div>

  <div class="row">
      <div class="input-field col s12">
        <%= form.label :source %>
        <%= form.text_field :source, class: "validate" %>
    </div>
  </div>

  <div class="row">
      <div class="input-field col s12">
        <%= form.label :source_date %>
        <%# FIXME form type %>
        <%= form.text_field :source_date, class: "datepick" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= form.label "Tags" %>
      <%= form.text_field :all_tags, placeholder: "Tags separated with comma" %>
    </div>
  </div>

  <button class="actions btn waves-effect waves-light" type="submit" name="action"><%= form.submit %>
      <i class="material-icons right">send</i>
    </button>
<% end %>
