<h5><%#= "Welcome #{ current_user.name}" if user_signed_in? %></h5>

<div class="row">
  <h3>Articles</h3>
  <%# <span>Sort by: ________</span> %>
</div>

<div class="row">
  <% @articles.reverse.each do |article| %>
    <div class="col s12 m6 l4">
      <%= link_to article do%>
        <div class="card small blue-grey darken-1 hoverable">
          <div class="card-content white-text">
            <div class="tags">
              <%=raw tag_links(article.all_tags) %>
            </div>
            <span class="card-title"><%= article.title %></span>
            <%= article.description %><i class="tiny material-icons">arrow_forward</i>
          </div>
          <div class="card-content white-text">
            <i class="tiny material-icons">arrow_upward</i><%= article.get_upvotes.size %>  <%= article.get_downvotes.size %><i class="tiny material-icons">arrow_downward</i>
            <i class="tiny material-icons">visibility</i><%= article.views %>
          </div>
        </div>
      <% end %>
    </div>

  <% end %>
</div>

<div class="fixed-action-btn">
  <%= link_to new_article_path, class: "waves-effect waves-light btn-floating btn-large" do %>
    <i class="large material-icons">add</i>
  <% end %>
</div>
