<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<p>
  <strong>Source:</strong>
  <%= @article.source %>
</p>

<p>
  <strong>Source date:</strong>
  <%= @article.source_date %>
</p>

<p>
  <strong>Views:</strong>
  <%= @article.views %>
</p>

<p>
  <strong>User:</strong>
  <%= @article.user %>
</p>

<h4>Add a Comment</h4>
<%#=render "comments/form", comment: @comment, article: @article %>

<h4>Comments</h4>
<% @comments.each do |comment| %>
    <p><%= comment.inspect %></p>
    <%#= link_to button_tag("Edit", type:"button", class:""), edit_article_comment_path(@article, review) %>
<% end %>

<% if current_user != nil %>
  <% if current_user.id == @article.user_id %>
    <%= link_to 'Edit', edit_article_path(@article)%>
    <%= link_to 'Destroy', article_path, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>
<%= link_to 'Back', articles_path %>
