<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<p>
  <strong>Source:</strong>
  <%= @article.source %>
</p>

<p>
  <strong>Source date:</strong>
  <%= @article.source_date %>
</p>

<%= link_to like_article_path(@article), method: :put do %>
Like
<% end %>
<%= @article.get_upvotes.size %>

<%= link_to dislike_article_path(@article), method: :put do %>
DisLike
<% end %>
<%= @article.get_downvotes.size %>

<p>
  <strong>Views:</strong>
  <%= @article.views %>
</p>

<p>
  <strong>Posted By:</strong>
  <%= @user %>
</p>

<% if current_user != nil %>
  <% if current_user.id == @article.user_id %>
    <%= link_to 'Edit', edit_article_path(@article)%>
    <%= link_to 'Destroy', article_path, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>
<%= link_to 'Back', articles_path %>

<h4>Add a Comment</h4>
<%=render "comments/form", article: @article, comment: @comment %>

<h4>Comments</h4>
<% @comments.each do |comment| %>
    <p><%= comment.inspect %></p>

  <% if current_user != nil %>
    <% if current_user.id == comment.user_id %>    
      <%= link_to button_tag("Edit", type:"button", class:""), edit_article_comment_path(@article, comment.id) %>
      <%= link_to button_tag("Delete", type:"button", class:""), article_comment_path(@article, comment.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
<% end %>


